JWT_KEY=
JWT_ISSUER=
JWT_AUDIENCE=
DEFAULT_CONNECTION=
CLOUDINARY_CLOUDNAME=
CLOUDINARY_APIKEY=
CLOUDINARY_APISECRET=
CHATBOT_OLLAMA_MODEL=
CHATBOT_OLLAMA_URL=
CHATBOT_OLLAMA_APIKEY=
CHATBOT_GEMINI_MODEL=
CHATBOT_GEMINI_APIKEY=
CHATBOT_PROVIDER=